<!-- container section start -->
<section id="container" class="">
  <!--sidebar end-->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-file-text-o"></i> Faire un Devis</h3>
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="index.html">Accueil</a></li>
            <li><i class="icon_document_alt"></i>Devis</li>
            <li><i class="fa fa-file-text-o"></i>Faire un devis</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <section class="panel">
            <header class="panel-heading">
              Identification Client
            </header>
            <div class="panel-body">
              <form [formGroup]="devis" class="form-horizontal " (ngSubmit)="Enregistrer()">
                <div class="form-group">
                  {{ clients | json }}
                  <label class="col-sm-3 control-label">Nom ou Raison Sociale</label>
                  <div class="col-sm-9">
                    <select formControlName="nom">
                      <option [ngValue]="" disabled>Choose your client</option>
                      <option *ngFor="let client of clients" [ngValue]="client">{{ client.name }}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Adresse</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control round-input" formControlName="adresse">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Code Postal</label>
                  <div class="col-sm-10">
                    <input class="form-control" id="focusedInput" type="text" value="" formControlName="codepostal">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Ville</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="" formControlName="ville">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Téléphone</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="" formControlName="telephone">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Mobile</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="" formControlName="mobile">
                  </div>
                </div>

              </form>
            </div>
          </section>

          <section class="panel">
            <div class="panel-body">
              <form [formGroup]="devis" class="form-horizontal " method="get">
                <div class="form-group">
                  <label class="control-label col-lg-2" for="inputSuccess">Gammes</label>
                  <div class="col-lg-12">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        finition extérieure (bois, crépis…)
                      </label>
                    </div>

                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        type d’isolant utilisé (synthétique, naturel ou biologique)
                      </label>
                    </div>

                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        type de couverture (tuiles, ardoises…)
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        qualité des huisseries
                      </label>
                    </div>

                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-2" for="inputSuccess">Modules</label>
                  <div class="col-lg-12">
                    <select class="form-control input-sm m-bot15">
                      <option>Murs Exterieurs</option>
                      <option>Murs Interieurs(porteurs)</option>
                      <option>Cloisons Intérieures</option>
                      <option>Plancher sur dalle</option>
                      <option>Plancher porteur</option>
                      <option>Fermes de charpente</option>
                      <option>Couverture(toit)</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
          </section>
          <section class="panel">
            <div class="panel-body">
              <form class="form-horizontal " method="get">

                <div class="form-group">
                  <label class="control-label col-lg-2" for="inputSuccess">Sections</label>
                  <div class="col-lg-12">
                    <select class="form-control m-bot15">
                      <option></option>
                      <option>Lisses</option>
                      <option>Contreforts</option>
                      <option>Sabots d’assemblage</option>
                      <option>Goujons de fixation</option>
                      <option>Supports de sol</option>
                    </select>

                    <div class="form-group">
                      <label class="control-label col-lg-2" for="inputSuccess">Détails</label>
                      <div class="col-lg-10">
                        <div class="row">
                          <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="prix">
                          </div>
                          <div class="col-lg-3">

                            <select class="form-control m-bot15">
                              <option></option>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>

                        </div>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-lg-2" for="inputSuccess">Montants</label>
                  <div class="col-lg-12">
                    <select class="form-control m-bot15">
                      <option></option>
                      <option>Départ – Sabots d’assemblage …</option>
                      <option>Arrivée – Sabots d’assemblage …</option>
                      <option>Intermédiaire – Sabots d’assemblage …</option>

                    </select>

                    <div class="form-group">
                      <label class="control-label col-lg-2" for="inputSuccess">Détails</label>
                      <div class="col-lg-10">
                        <div class="row">
                          <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="prix">
                          </div>
                          <div class="col-lg-3">

                            <select class="form-control m-bot15">
                              <option></option>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>

                        </div>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-lg-6" for="inputSuccess">Remplissage par unité entre deux montants</label>
                  <div class="col-lg-12">
                    <select class="form-control m-bot15">
                      <option></option>
                      <option>Remplissages</option>
                      <option>Visserie</option>
                      <option>Panneaux</option>

                    </select>

                    <div class="form-group">
                      <label class="control-label col-lg-2" for="inputSuccess">Détails</label>
                      <div class="col-lg-10">
                        <div class="row">
                          <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="prix">
                          </div>
                          <div class="col-lg-3">

                            <select class="form-control m-bot15">
                              <option></option>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>

                        </div>

                      </div>
                    </div>
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-success fa fa-floppy-o" (click)="Enregistrer()">&nbsp;Enregistrer</button>&nbsp;

                    </div>

                  </div>
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
      <!-- Basic Forms & Horizontal Forms-->
      <!-- page end-->
    </section>

    <pre>
        {{ devis.value | json }}
    </pre>

  </section>
  <!--main content end-->
  <div class="text-right">
    <div class="credits">
      <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
      -->
      Designed by <a href="">S.T</a>
    </div>
  </div>

  

</section>
