<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-th"></i>Liste Clients</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="index.html">Accueil</a></li>
          <li><i class="fa fa-desktop"></i>Gestion Clients</li>
          <li><i class="fa fa-th"></i>Liste clients</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <section class="panel">
          <header class="panel-heading">
            <h3>Listes</h3>

          </header>
          
            <div class="col-sm list-action-button">
              
              <a href="#" routerLink="ajouter" class="btn btn-link float-right fa fa-file fa-lg action-label">Ajouter</a>
            </div>
          
          <div class="panel-body">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Ref</th>
                  <th>Nom ou Raison Social</th>
                  <th>Adresse</th>
                  <th>Code Postal</th>
                  <th>Ville</th>
                  <th>Téléphone</th>
                  <th>Mobile</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let client of clients | async; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ client.nom }}</td>
                  <td>{{ client.adresse }}</td>
                  <td>{{ client.codePostal }}</td>
                  <td>{{ client.ville }}</td>
                  <td>{{ client.telephone }}</td>
                  <td>{{ client.mobile }}</td>
                  <td><button class='fa fa-eye' (click)='voirClient(client)'></button></td>
                  <td><button class='delete-label fa fa-trash-o' (click)='supprimerClient(client)'></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
  </section>
</section>
